{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Contact Me</h1>
                <p>Feel free to reach out to me through various channels. I'm always happy to connect and engage in conversations!</p>

                <h2>Contact Information</h2>
                <ul>
                    <li><strong>Email:</strong> <a href="mailto:matthias.heylen@example.com">r0468021@student.thomasmore.be</a></li>
                    <li><strong>Phone:</strong> 04 70 018 555</li>

                    <li><strong>Visit me at:</strong></li>
                    <li>Thomas More University</li>
                    <li>Kleinhoefstraat 1</li>
                    <li>Geel, Belgium</li>

                </ul>

                <h2>Connect on Social Media</h2>
                <p>Follow me on social media for updates and interesting content:</p>
                <ul>
                    <li><a href="https://twitter.com/matthias_heylen" target="_blank">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/matthias-heylen" target="_blank">LinkedIn</a></li>
                </ul>

                <h2>Office Hours</h2>
                <p>Feel free to drop by during my office hours for a chat:</p>
                <ul>
                    <li><strong>Monday to Friday:</strong> 9:00 AM - 5:00 PM</li>
                </ul>

                <img src="../static/images/map.png" width="800px" alt="map of location">

                <h2>Send Me a Letter</h2>
                <p>If you prefer traditional mail, you can send me a letter at the address mentioned above.</p>

                <p>Looking forward to hearing from you!</p>

            </div>
        </div>
    </div>
{{end}}
